<?xml version="1.0" encoding="utf-8" ?>
<DataTypeList>
  <DataType Code="bigint" Name="bigint" CsType="long?" DbType="Int64" />
  <DataType Code="binary" Name="binary" CsType="byte[]" DbType="Binary" />
  <DataType Code="bit" Name="bit" CsType="bool?" DbType="Boolean" />
  <DataType Code="char" Name="char" CsType="string" DbType="AnsiString" />
  <DataType Code="datetime" Name="datetime" CsType="DateTime?" DbType="DateTime" />
  <DataType Code="decimal" Name="decimal" CsType="decimal?" DbType="Decimal" />
  <DataType Code="float" Name="float" CsType="double?" DbType="Double" />
  <DataType Code="image" Name="image" CsType="byte[]" DbType="Binary" />
  <DataType Code="int" Name="int" CsType="int?" DbType="Int32" />
  <DataType Code="money" Name="money" CsType="decimal?" DbType="Currency" />
  <DataType Code="nchar" Name="nchar" CsType="string" DbType="String" />
  <DataType Code="ntext" Name="ntext" CsType="string" DbType="String" />
  <DataType Code="numeric" Name="numeric" CsType="decimal?" DbType="VarNumeric" />
  <DataType Code="nvarchar" Name="nvarchar" CsType="string" DbType="String" />
  <DataType Code="real" Name="real" CsType="float?" DbType="Double" />
  <DataType Code="smalldatetime" Name="smalldatetime" CsType="DateTime?" DbType="DateTime" />
  <DataType Code="smallint" Name="smallint" CsType="short?" DbType="Int32" />
  <DataType Code="smallmoney" Name="smallmoney" CsType="decimal?" DbType="Currency" />
  <DataType Code="sql_variant" Name="sql_variant" CsType="string" DbType="String" />
  <DataType Code="text" Name="text" CsType="string" DbType="AnsiString" />
  <DataType Code="timestamp" Name="timestamp" CsType="DateTime?" DbType="DateTime" />
  <DataType Code="tinyint" Name="tinyint" CsType="byte?" DbType="SByte" />
  <DataType Code="uniqueidentifier" Name="uniqueidentifier" CsType="Guid?" DbType="Guid" />
  <DataType Code="varbinary" Name="varbinary" CsType="byte[]" DbType="Binary" />
  <DataType Code="varchar" Name="varchar" CsType="string" DbType="AnsiString" />  
</DataTypeList>