<?xml version="1.0" encoding="utf-8" ?>
<DataTypeList>
  <DataType Code="int" Name="int" CsType="int?" DbType="Int32" />
  <DataType Code="varchar" Name="varchar" CsType="string" DbType="AnsiString" />
  <DataType Code="decimal" Name="decimal" CsType="decimal?" DbType="Decimal" />
  <DataType Code="double" Name="double" CsType="double?" DbType="Double" />
  <DataType Code="datetime" Name="datetime" CsType="DateTime?" DbType="DateTime" />
  <DataType Code="longtext" Name="longtext" CsType="string" DbType="String" />
</DataTypeList>